<div class="flex justify-center p-10 m-10">
  <div>
    <ul>
      <li>
        <button class="underline" (click)="openModal('textBox')">
          Text Box
        </button>
      </li>
      <li>
        <button class="underline" (click)="openModal('check-box')">
          Check Box
        </button>
      </li>
      <li>
        <button class="underline" (click)="openModal('radio-box')">
          Radio Box
        </button>
      </li>
      <li>
        <button class="underline" (click)="openModal('table-box')">
          Table Box
        </button>
      </li>
      <li>
        <button class="underline" (click)="openModal('buttons')">
          Buttons
        </button>
      </li>
      <li>
        <button class="underline" (click)="openModal('links')">Links</button>
      </li>
    </ul>
  </div>

  <app-text-box
    *ngIf="activeModal === 'textBox'"
    (close)="closeModal()"
  ></app-text-box>
  <app-text-box
    *ngIf="activeModal === 'check-box'"
    (close)="closeModal()"
  ></app-text-box>
  <app-text-box
    *ngIf="activeModal === 'radio-box'"
    (close)="closeModal()"
  ></app-text-box>
  <app-text-box
    *ngIf="activeModal === 'table-box'"
    (close)="closeModal()"
  ></app-text-box>
  <app-text-box
    *ngIf="activeModal === 'buttons'"
    (close)="closeModal()"
  ></app-text-box>
  <app-text-box
    *ngIf="activeModal === 'links'"
    (close)="closeModal()"
  ></app-text-box>
</div>
